@each $color_name, $color in $colors {
	.text-#{$color_name}{color:$color !important;}
	.bg-#{$color_name}{background-color:$color !important;}	
	@if($color_name != "white") {
		.bg-#{$color_name}:hover{background-color:$color !important;}
	}
	.hover\:bg-#{$color_name}{background-color:$color !important;}
	.hover\:bg-#{$color_name}:hover{background-color:$color !important;}
	.hr-#{$color_name}{display:block;width:100%;height:1px;background:rgba($color, 0.8) transparent;background:rgba(rgba($color, 0.8), 0.8);}
	.hover\:text-#{$color_name}:hover{color:$color !important;}
}

@each $color_name, $color in $allcolors {
	@for $i from 1 through 9 {
		.bg-#{$color_name}-accent-#{$i}{background-color:rgba($color,to-number(#{1-($i/10)}));}
	}
}