.social li{background:none repeat scroll 0 0 #B5B5B5;border:2px solid #B5B5B5;-webkit-border-radius:50%;-moz-border-radius:50%;-o-border-radius:50%;-ms-border-radius:50%;border-radius:50%;float:left;height:36px;line-height:36px;margin:0 8px 0 0;padding:0;text-align:center;width:36px;transition:all 0.5s ease 0s;-moz-transition:all 0.5s ease 0s;-webkit-transition:all 0.5s ease 0s;-ms-transition:all 0.5s ease 0s;-o-transition:all 0.5s ease 0s}
.social li:hover{transform:scale(1.15) rotate(360deg);-webkit-transform:scale(1.1) rotate(360deg);-moz-transform:scale(1.1) rotate(360deg);-ms-transform:scale(1.1) rotate(360deg);-o-transform:scale(1.1) rotate(360deg)}
.social li a{color:#EDEFF1}.social li:hover{border:2px solid #2c3e50;background:#2c3e50}
.social li a i{font-size:16px;margin:0 0 0 5px;color:#EDEFF1 !important}
.footer1 .footer-bottom{background:#E3E3E3;border-top:1px solid #DDDDDD;padding-top:10px;padding-bottom:10px}
.footer1 .footer-bottom p.pull-left{padding-top:6px}
.footer1 h3{color:$blue-grey;border-bottom: 1px solid $blue-grey;padding-bottom:10px;font-size:22px;}
.footer1 ul{padding-left:0;list-style:none}
.footer1 a{color:#B5B5B5;}

.footer2 {background-color:$deep-blue;padding-top:60px;}
.footer2 .footer-bottom{background-color:$navy-blue;height:50px;margin-top:60px;}
.footer2 ul{padding-left:0;list-style:none}

.footer3 {background-color:$deep-blue;padding-top:60px;}
.footer3 .footer-bottom{background-color:$navy-blue;height:50px;margin-top:60px;}
.footer3 ul{padding-left:0;list-style:none}