$size:5;
@while $size < 100 {
	.w#{$size}{width:#{$size}px !important;}
	.h#{$size}{height:#{$size}px !important;}
	.min-height-#{$size}{min-height:#{$size}px !important;}
	.min-width-#{$size}{min-width:#{$size}px !important;}
	$size: $size + 5
}

$size:100;
@while $size < 1000 {
	.w#{$size}{width:#{$size}px !important;}
	.h#{$size}{height:#{$size}px !important;}
	$size: $size + 50
}

@for $i from 1 through 20 {
	.mt--#{$i}{margin-top: -#{$i*0.25}rem !important;}
	.mb--#{$i}{margin-bottom: -#{$i*0.25}rem !important;}
	.ml--#{$i}{margin-left: -#{$i*0.25}rem !important;}
	.mr--#{$i}{margin-right: -#{$i*0.25}rem !important;}
	.pt--#{$i}{padding-top: -#{$i*0.25}rem !important;}
	.pb--#{$i}{padding-bottom: -#{$i*0.25}rem !important;}
	.pl--#{$i}{padding-left: -#{$i*0.25}rem !important;}
	.pr--#{$i}{padding-right: -#{$i*0.25}rem !important;}
}
@for $i from 3 through 8 {
	@for $j from 1 through 3 {
		.mt-#{$i}-#{($j/4)*100}{margin-top: #{$i+$j/4}rem !important;}
		.mb-#{$i}-#{($j/4)*100}{margin-bottom: #{$i+$j/4}rem !important;}
		.ml-#{$i}-#{($j/4)*100}{margin-left: #{$i+$j/4}rem !important;}
		.mr-#{$i}-#{($j/4)*100}{margin-right: #{$i+$j/4}rem !important;}
		.mx-#{$i}-#{($j/4)*100}{margin-left: #{$i+$j/4}rem !important;margin-right: #{$i+$j/4}rem !important;}
		.my-#{$i}-#{($j/4)*100}{margin-top: #{$i+$j/4}rem !important;margin-bottom: #{$i+$j/4}rem !important;}
	
		.pt-#{$i}-#{($j/4)*100}{padding-top: #{$i+$j/4}rem !important;}
		.pb-#{$i}-#{($j/4)*100}{padding-bottom: #{$i+$j/4}rem !important;}
		.pl-#{$i}-#{($j/4)*100}{padding-left: #{$i+$j/4}rem !important;}
		.pr-#{$i}-#{($j/4)*100}{padding-right: #{$i+$j/4}rem !important;}
		.px-#{$i}-#{($j/4)*100}{padding-left: #{$i+$j/4}rem !important;padding-right: #{$i+$j/4}rem !important;}
		.py-#{$i}-#{($j/4)*100}{padding-top: #{$i+$j/4}rem !important;padding-bottom: #{$i+$j/4}rem !important;}
	}
}

.mt-2-5{margin-top:.75rem;}
.pt-2-5{padding-top:.75rem;}
